body {
    background-color:beige;
}

.btn {
    background-color: darkblue;
    border: 1px solid darkblue;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    padding: .375rem .5rem;

    &:hover {
        background-color: blue;
    }
}

.uuid-output {
    margin-top: 1rem;
}